<a href="https://colab.research.google.com/github/ry4np/hello-world/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
Name = input("enter your name: ")
Age = input("Enter your age: ")
print("Hello " + Name + "! you are " + Age)

enter your name: Ryan
Enter your age: 40
Hello Ryan! you are 40

In [4]:
num1 = input("Enter a number:")
num2 = input("Enter another number: ")
result = int(num1) + int(num2)
print(result)

Enter a number:2
Enter another number: 2
4

In [6]:
num1 = input("enter a number: ")
num2 = input("enter another number: ")
result = float(num1)+ float(num2)
print(result)

enter a number: 2.3
enter another number: 2.5
4.8

In [15]:
friends = ["kevin", "karen", "jim"]
print(friends)
friends[1] = "Mike"
print(friends[-1])
print(friends[1:])
print(friends[1:3])
print(friends)

['kevin', 'karen', 'jim']
jim
['Mike', 'jim']
['Mike', 'jim']
['kevin', 'Mike', 'jim']

In [31]:
lucky_numbers = [4, 5, 6, 7, 19, 34]
friends = ["kevin", "karen", "jim", "mike"]
friends.extend(lucky_numbers)
friends.append("soul")
friends.insert(1, "kelly")
friends.remove("jim")
friends2 = friends.copy()
friends2.sort

print(friends)
print(friends.index("kevin"))
print(friends.index("karen"))
print(friends.count("mike"))
print(friends)
print(friends2)

['kevin', 'kelly', 'karen', 'mike', 4, 5, 6, 7, 19, 34, 'soul']
0
2
1
['kevin', 'kelly', 'karen', 'mike', 4, 5, 6, 7, 19, 34, 'soul']
['kevin', 'kelly', 'karen', 'mike', 4, 5, 6, 7, 19, 34, 'soul']

Tupples

In [33]:
coordinates = (4, 5)
coordinates[1] = 10
print(coordinates[1])

TypeError: 'tuple' object does not support item assignment

In [36]:
coordinates[(94, 5), (3, 5)]
print(coordinates)

TypeError: tuple indices must be integers or slices, not tuple

Functions

In [40]:
def say_hi(name):
    print("hello " + name)

print("top")
say_hi("mike")
print("bottom")

top
hello mike
bottom